<h1>Default style</h1>
<code>\{{table-flip}}</code>
{{table-flip}}

<hr>

<h1>Put the table back</h1>
<code>\{{table-flip emoticonStyle='reset'}}</code>
{{table-flip emoticonStyle='reset'}}

{{outlet}}
